if BOARD_EMBEVER_FEATHER_NRF9151 || BOARD_EMBEVER_FEATHER_NRF9151_NS

config BOARD_EMBEVER_FEATHER_NRF9151
	select USE_DT_CODE_PARTITION if BOARD_EMBEVER_FEATHER_NRF9151_NS

endif # BOARD_EMBEVER_FEATHER_NRF9151 || BOARD_EMBEVER_FEATHER_NRF9151_NS